#output{
  height: auto;
  width: 820px;
  background-color: #9e9d9d;
  padding: 39px;
  margin: 20px;
}
 
 
 .p{
        background-color: rgba(236, 233, 233, 0.432);
        padding: 50px;
 }
 img{
       height: 100vh;
     //   height: 200px;
   }
  